/*body*/

body{   
        font-family:Verdana,游ゴシック体;
        background-color: white;
        color: #f7c4d4;
        text-align: center;
    }
    .header {
        height: 150px;
        background-color: yellow;
    }
    .footer{
        height: 200px;
        clear: both;
    }
    .main-contents, .left-navi, .right-navi {
        height: auto;
    }
    .main-contents {
        float: left;
        width: 80%;
    }


/*文字*/

h1{
    text-align: center;
}

h2{
    text-align: center;
}


/*リンクの色*/

#tag{
    color:inherit;
    text-decoration: none;
}

a{
    color: #c0e4f2;
}



/*以下class名link_buttonのデザイン*/
.link_button {
    font-weight: bold;/*太字に*/
    text-decoration: none;/*下線消す*/
    background: #f7c4d4;/*背景を水色に*/
    color:white;/*文字を白に*/
    padding:5px 10px;/*内側の余白*/
    border-radius: 20px;/*角を丸くする*/
    font-family: 'Avenir','Arial';/*フォントをいい感じに*/
  }
  /*以下カーソルを当てたとき*/
  .link_button:hover {
    background: #c0e4f2;/*背景色をシルバーに*/
    text-decoration: none;/*下線を消す*/
  }

/*リスト*/

ul{
    list-style: none;
}


/*枠線*/    

    .box{

        font-size: x-large;
        padding: 200px;
        margin: 50px;
        font-weight: bold;
        text-align: center;
        color: #c0e4f2;/*文字色*/
        background: #fff7c9;
        border: solid 3px #fff7c9;/*線*/
        border-top-left-radius: 10px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 10px;
    }


/*左のナビ*/


    .left-navi {
        width: 30%;
        float: right;
        position: fixed;
        align-items: flex-end;
        text-align: left;
    }

/*右側*/

    .right-navi {
        float: right;
        width: 20%;
        position: sticky;
    }

/*真ん中*/

    .main{
        width: 80%;
        float: right;
    }

/*フッター*/

    .footer{
        text-align: center;
        font-size: larger;
    }





    /*========= ページトップのためのCSS ===============*/
/*リンクの形状*/
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#f7c4d4;
	border-radius: 5px;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
}

#page-top a:hover{
	background: #777;
}

/*リンクを右下に固定*/
#page-top {
	position: fixed;
	right: 10px;
	z-index: 2;
    /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }
  to {
    opacity: 1;
	transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 1;
	transform: translateY(0);
  }
  to {
  	opacity: 1;
	transform: translateY(100px);
  }
}

/*検証のためのCSS*/
section{
padding: 500px 0;
}

